#jumbobok {
  background-image: url(/images/logo/GmailQR2.png), url(/images/PUBG2.jpg);
  background-size: 80px, 1170px;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position-x: 10px, 0px;
  background-position-y: 10px, 0px;
  tab-size: auto;
}

#body {
  background-image: url(/images/Cyberpunk.png);
  background-color: #d7d101;
  background-size: 1366px;
}
