#jumbobok {
  background-image: url(/images/logo/GmailQR.png), url(/images/PUBG2.jpg);
  background-size: 80px, 1110px;
  background-repeat: no-repeat;
  background-position-x: 10px, 0px;
  background-position-y: 10px, 0px;
}

#body {
  background-image: url(/images/Cyberpunk.jpg);
  background-color: #d7d101;
  background-size: 1366px;
  background-repeat: no-repeat;
}
